<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <!-- основной .ico (IE, старые браузеры) -->
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">

    <!-- png-иконки разного размера -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="160x160" href="{% static 'favicon/favicon-160x160.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/favicon-192x192.png' %}">

    <!-- iOS -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon-180x180.png' %}">

    <!-- Safari pinned tab (требует SVG + color) -->
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">

    <!-- Web App manifest (Android / PWA) -->
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <meta name="theme-color" content="#ffffff">
</head>

    <title>{% block title %}{% endblock title %}</title>
<body>
    {% block content %}{% endblock content %}
</body>
</html>